@charset "UTF-8";

* {
    /*height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #D8D996, #D9A48B);
}

main {
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8c7f97d5;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #D9A48B;
    text-align: center;
    text-shadow: 1px 1px 2px #8c7f97d5;
}

h2 {
    color: #9b86af;
}

p {
    text-align: justify;
}